# Notion Authentication
# You need to get this from your browser cookies while logged into Notion
# 1. Go to notion.so and log in
# 2. Open browser dev tools (F12)
# 3. Go to Application/Storage > Cookies > https://www.notion.so
# 4. Find 'token_v2' and copy its value
NOTION_TOKEN_V2=v03%3AeyJhbGciOiJkaXIiLCJraWQiOiJwcm9kdWN0aW9uOnRva2VuLXYzOjIwMjQtMTEtMDciLCJlbmMiOiJBMjU2Q0JDLUhTNTEyIn0..DXIsmORU1ZnSvY1eBRKmMQ.gKTWmgR4Su6q2UAeDRJuFpcqFz18-N--Hhfwp7B_ahlO1GvSgrubwE8ydnekhRyG4i-okbyvD4ZWFx-UFB1ouakIf2u2JXD9tP0LMlQ0Zk6FzzZQG_YvhACxg2AFuwW2zQH9hNpp2fbb1l73hyv4MO5o5gUr1JAmc_khFEymPjGC6par7BvYZnEubWX41aqmISiGyjjGymXAQQjG09ULnElnnNHI4uB1UDgd1DMNwkE36q2hb43_3yjZLN4efgfTXBReMV_zGR_ed-d07jHCsrR7-dPwn4p6FL--mT1-vACF0QH2cMtgpuoiZcwjF_Jr_SY0nQgUn4Xzv2tAxyUP5g.DfVdeLMJBK1uEFyQg2nwyLBQpmqyiekUTRSRj8Irygc
